body {
  margin: 0;
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

#toc {
  display: block;
  margin: 10px auto;
}

#viewer {
  overflow: hidden;
  width: 620px;
  margin: 0 50px;
  /*background: url('ajax-loader.gif') center center no-repeat;*/
  background-color: white;
  box-shadow: 0 0 4px #ccc;
  margin: 20px;
  padding: 40px 80px;
}

@media (min-width: 1000px) {
  #prev {
    left: 40px;
  }

  #next {
    right: 40px;
  }
}

.arrow {
  margin: 14px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #ccc;
  font-size: 64px;
}

.arrow:hover {
  color: #777;
}

.arrow:active {
  color: #000;
}

#prev {
  float: left;
}

#next {
  float: right;
}

#extras {
  width: 600px;
  margin: 40px auto;
}

#highlights {
  list-style: none;
  margin-left: 0;
  padding: 0;
}

#highlights li {
  list-style: none;
  margin-bottom: 20px;
  border-top: 1px solid #E2E2E2;
  padding: 10px;
}

#highlights a {
  display: block;
}