body {
  margin: 0;
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

#viewer {
  overflow: hidden;
  width: 620px;
  margin: 0 50px;
  background-color: white;
  box-shadow: 0 0 4px #ccc;
  margin: 20px;
  padding: 40px 80px;
}

.top-menu {
  background-color: white;
  width: 800px;
  height: 40px;
  margin: auto;
  border: 1px solid black;
  text-align: center;
}

.toc {
  display: block;
  margin: 20px auto;
  width: 80%;
  height: 40px;
}

.arrow {
  margin: 14px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #ccc;
  font-size: 64px;
}

.arrow:hover {
  color: #777;
}

.arrow:active {
  color: #000;
}

#extras {
  margin: 40px auto;
}

#highlights {
  list-style: none;
  margin-left: 0;
  padding: 0;
}

#highlights li {
  list-style: none;
  margin-bottom: 20px;
  border-top: 1px solid #E2E2E2;
  padding: 10px;
}

#highlights a {
  display: block;
}

.right-column {
  float: right;
  width: 30%;
  border: 1px black solid;
  box-sizing: border-box;
  padding: 10px;
}

.left-column {
  float: right;
  width: 65%;
  border: 1px black solid;
  box-sizing: border-box;
  padding: 10px;
}

.btn {
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px 20px;
}

.on {
  background-color: #4CAF50;
  color: #fff;
}

.off {
  background-color: #ccc;
  color: #333;
}