body {
  margin: 0;
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.page-content {
  display: grid;
  grid-template-areas:
    "left right";
  grid-template-columns: 2fr 0.75fr;
  width: 100%;
  height: 100vh;
}

.page-contentdiv.right-column {
  grid-area: right;
  position: relative;
  float: right;
  box-sizing: border-box;
}

.page-content>div.left-column {
  grid-area: left;
  position: relative;
  float: left;
  background-image: linear-gradient(to right, #0cc0df, #ffde59);
  box-sizing: border-box;
  padding-right: 5px;
}

.module-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#module {
  overflow: hidden;
  width: 620px;
  background-color: white;
  box-shadow: 0 0 4px #ccc;
  margin: 20px;
  padding: 40px 80px;
}

.page-number {
  float: right;
}

.toc {
  display: block;
  margin: 20px auto;
  width: 80%;
  height: 40px;
}

.arrow {
  margin: 14px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 64px;
}

.arrow:hover {
  color: #777;
}

.arrow:active {
  color: #000;
}

.module-menu {
  display: grid;
  grid-template-areas:
    "comment highlight";
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  padding: 5px;
  width: 200px;
  float: right;
}

.module-menu>div.highlight-menu-container {
  grid-area: highlight;
  position: relative;
}

.module-menu>div.comment-menu-container {
  grid-area: comment;
  position: relative;
}

.edit-comment-form {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 0.2rem;
  width: 260px;
  height: 150px;
  position: absolute;
  right: -105px;
  padding: 5px;
  text-align: center;
}

.color-picker-container {
  background-color: white;
  width: 210px;
  border-radius: 5px;
  position: absolute;
  right: 0;
  text-align: center;
}

.color-picker-card {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

textarea {
  width: 250px;
  height: 100px;
  resize: none;
  border: none;
  font-size: 17px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.paginationBttns {
  width: 95%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 1px;
  border-radius: 5px;
  border: 1px solid #ddd;
  color: black;
  background-color: white;
  cursor: pointer;
  font-size: 13px;
}

.paginationActive a {
  background-color: grey;
  color: white;
}

.paginationBttns a:hover {
  background-color: grey;
  color: white;
}

.paginationDisabled a {
  color: grey;
  background-color: white;
}

.annotation-menu-container {
  text-align: center;
}

.annotation-menu-btn {
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
  padding: 10px 20px;
  border: none;
}

.active {
  border-bottom: 1px solid black;
}

.card-display {
  background-color: white;
  border: 1px solid #ddd;
  flex-direction: column;
  border-radius: 4px;
  margin: 10px 10px;
  padding: 20px;
  width: 530px;
  min-height: 200px;
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    "content menu";
  grid-template-columns: 7fr 0.5fr;
  gap: 5px;
}

.card-display>div.card-menu-container {
  grid-area: menu;
  position: relative;
}

.card-menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
  cursor: pointer;
  float: right;
}

.card-menu-toggle span {
  height: 0.4rem;
  width: 100%;
  background-color: grey;
  border-radius: 0.2rem;
}

.card-menu-container ul {
  display: none;
  position: absolute;
  top: 2.25rem;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100px;
}

.card-menu-container ul.open {
  display: block;
}

.card-menu-container ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  font-size: 12px;
}

.card-menu-container ul li:last-child {
  border-bottom: none;
}

.card-menu-container ul li:hover {
  background-color: #f0f0f0;
}

.btn {
  width: 100px;
  height: 30px;
  background-color: white;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

.btn:hover {
  background-color: #f0f0f0;
}

.comment-input {
  width: 100%;
  height: 50px;
}

.comment-container {
  width: 100%;
  margin: 20px 0px 0px 0px;
}

.passage-container {
  border-left: 5px solid #ddd;
  margin: auto;
  margin-top: 0px;
  padding: 10px;
  width: 90%;
  max-height: 75px;
  overflow: auto;
  scrollbar-width: thin;
}

.passage {
  font-size: 11px;
  color: grey;
}

input[type="checkbox"] {
  display: none;
}

label {
  color: blue;
  text-decoration: underline;
  margin-top: 5px;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
}

label:after {
  content: "more";
}

input:checked~label:after {
  content: "less";
}

.note {
  max-height: 100px;
  overflow: hidden;
  transition: all .3s ease;
  width: 100%;
  height: 3.5em;
}

input:checked+.note {
  height: auto;
  max-height: 500px;
}